annotated-types==0.5.0
click==8.1.6
colorama==0.4.6
cors==1.0.1
fastapi==0.100.1
FastAPI-SQLAlchemy==0.2.1
Flask==2.2.5
future==0.18.3
gevent==23.7.0
greenlet==2.0.2
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
itsdangerous==2.1.2
Jinja2==3.0.3
numpy==1.25.1
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
pandas==2.0.3
pydantic==2.1.1
pydantic_core==2.4.0
PySocks==1.7.1
python-dotenv==1.0.0
pytz==2023.3
requests-file==1.5.1
SQLAlchemy==2.0.19
starlette==0.27.0
tldextract==3.4.4
tzdata==2023.3
uvicorn==0.23.1
Werkzeug==2.3.6
zope.event==5.0
zope.interface==6.0
